@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(255,200,124,1) 0%, rgba(252,251,121,1) 90% );
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;

  .container {
    position: relative;
    width: calc(100% - 100px);
    min-height: 380px;
    background: rgba(252,251,255,0.5);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  header {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);

    .logo {
      width: 200px;
    }

    ul {
      display: flex;
      li {
        list-style: none;
        margin: 0 10px;

        a {
          text-decoration: none;
          font-weight: 500;
          color: #333;
          padding: 8px 15px;
          border-radius: 25px;
          font-size: 1.6rem;

          &:hover, &.active{
            background: rgba(255,255,255,0.5);
            box-shadow: 0 5px 10px rgba(0,0,0,0.1);
          }
        }
      }
    }
  }

  .content {
    margin-top: 32px;
    transform: translateX(-100px);
    max-width: 700px;
    padding: 40px;
    padding-left: 110px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);

    h2 {
      font-size: 4rem;
      color: #333;
    }

    p {
      font-size: 1.6rem;
    }

    a {
      display: inline-block;
      padding: 15px 30px;
      background: #fff;
      color: #333;
      margin-top: 20px;
      border-radius: 16px;
      font-size: 1.6rem;
      font-weight: 500;
      text-decoration: none;
      box-shadow: 0 5px 10px rgba(0,0,0,0.1);
      transition: ease 0.4s;

      &:hover {
        filter: opacity(0.7);
      }
    }
  }

  .imgBx img{
    max-width: 400px;
    margin-top: 32px;
  }

  .sci {
    position: absolute;
    right: -25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      a {
        text-decoration: none;
        width: 50px;
        height: 50px;
        border-radius: 16px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        img {
          transform: scale(0.6);
        }
      }

      &:nth-child(2) a {
        border-radius: 50%;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: #333;
    font-size: 1.6rem;

    a {
      text-decoration: none;
      color: #f4c02e;
    }
  }
}